### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

Mongodb is a document based database which is stored in the JSON like format.It is well suited for semi-structured and unstructured data.

Instead of using rows and column, In non-relational database  data are stored in key-value or document format or graph , and to store  organize data. A non-realtional database is also known as NoSQL database.Its great for handling different kinds of information without having to fit into neat rows and column like table 

MongoDB is preferred over SQL databases in scenario where you need to handle lots of different types of data thaat might change over time.This is specially use for varying application and evolving data requirement. It is give a benefits when you dont need to modify the data without reworking the entire setup.Mongodb ability to spread across multiple machine to handle it load better

### Q2. State and Explain the features of MongoDB.

Mongodb can split the data into smaller pieces and store them into different computer.If one computer is fail,then other computer still works.

You can easily find and fetch the specific information you want.
Its JSON like document are familiar to developer,making its easy to work
It can handle huge amount of information .It talk in a way that computer understand well,making it easy for them to work together.

MongoDB can use a language that is similar to JavaScript to find and change the data.MongoDb does not need a fix structure of data this make it more adaptable because it can handle different types of data such as images ,video or text

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [157]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://guptaanupam:anupamgupta@cluster0.cth5tf2.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [156]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [158]:
client

MongoClient(host=['ac-wouppkj-shard-00-01.cth5tf2.mongodb.net:27017', 'ac-wouppkj-shard-00-02.cth5tf2.mongodb.net:27017', 'ac-wouppkj-shard-00-00.cth5tf2.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-v9ais2-shard-0', tls=True)

In [159]:
uri = "mongodb+srv://guptaanupam:anupamgupta@cluster0.cth5tf2.mongodb.net/?retryWrites=true&w=majority"

In [160]:
db = client["assignment"]

In [161]:
coll_pwskills = db["my assignment"]

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [162]:
data = {"India" : "statue of unity" ,
        "America" : "statue of liberty" ,
        "Paris" : "Elffiel tower"}

In [163]:
coll_pwskills.insert_one(data)

In [164]:
for i in coll_pwskills.find_one():
    print(i)

_id
India
America
Paris

In [165]:
# Insert many records
records = [
    {"name": "Bob", "age": 25, "city": "London"},
    {"name": "Charlie", "age": 23, "city": "Paris"},
    {"name": "David", "age": 24, "city": "Tokyo"}
]

In [166]:
coll_pwskills.insert_many(records)

In [167]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('64d7924ea743e648bfd4ee67'), 'India': 'statue of unity', 'America': 'statue of liberty', 'Paris': 'Elffiel tower'}
{'_id': ObjectId('64d79533cad2c4d67f291f87'), 'India': 'statue of unity', 'America': 'statue of liberty', 'Paris': 'Elffiel tower'}
{'_id': ObjectId('64d79535cad2c4d67f291f88'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64d79535cad2c4d67f291f89'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d79535cad2c4d67f291f8a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64d79535cad2c4d67f291f8b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d79535cad2c4d67f291f8c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d79535cad2c4d67f291f8d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d79535cad2c4d67f291f8e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64d79535cad2c4d67f291f8f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d79535cad2c4d67f291f90'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d79535cad2c4d67f291f91'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64d79535cad2c4d67f291f92'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64d79535cad2c4d67f291f93'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d797d2cad2c4d67f291f94'), 'name': 'Bob', 'age': 25, 'city': 'London'}
{'_id': ObjectId('64d797d2cad2c4d67f291f95'), 'name': 'Charlie', 'age': 23, 'city': 'Paris'}
{'_id': ObjectId('64d797d2cad2c4d67f291f96'), 'name': 'David', 'age': 24, 'city': 'Tokyo'}
{'_id': 1, 'name': 'Alice', 'age': 23}
{'_id': 2, 'name': 'Bob', 'age': 25}
{'_id': 3, 'name': 'Charlie', 'age': 20}
{'_id': ObjectId('64d7aef6cad2c4d67f291f99'), 'India': 'statue of unity', 'America': 'statue of liberty', 'Paris': 'Elffiel tower'}
{'_id': ObjectId('64d7aef8cad2c4d67f291f9a'), 'name': 'Bob', 'age': 25, 'city': 'London'}
{'_id': ObjectId('64d7aef8cad2c4d67f291f9b'), 'name': 'Charlie', 'age': 23, 'city': 'Paris'}
{'_id': ObjectId('64d7aef8cad2c4d67f291f9c'), 'name': 'David', 'age': 24, 'city': 'Tokyo'}

### Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [168]:
for i in coll_pwskills.find({"age" : {"$gte" : 24}}):
    print(i)

{'_id': ObjectId('64d797d2cad2c4d67f291f94'), 'name': 'Bob', 'age': 25, 'city': 'London'}
{'_id': ObjectId('64d797d2cad2c4d67f291f96'), 'name': 'David', 'age': 24, 'city': 'Tokyo'}
{'_id': 2, 'name': 'Bob', 'age': 25}
{'_id': ObjectId('64d7aef8cad2c4d67f291f9a'), 'name': 'Bob', 'age': 25, 'city': 'London'}
{'_id': ObjectId('64d7aef8cad2c4d67f291f9c'), 'name': 'David', 'age': 24, 'city': 'Tokyo'}

The find() method is used in mongodb to query a database collection and retrive document that match the certain criteria. You need to access the collection you want to query.You use db.collectionName to access collectionName. It can also use greater than (gte) and less than (lt))to obtain a specific result

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [179]:
for student in coll_pwskills.find().sort('age', 1):
    print(student)

{'_id': ObjectId('64d7924ea743e648bfd4ee67'), 'India': 'statue of unity', 'America': 'statue of liberty', 'Paris': 'Elffiel tower'}
{'_id': ObjectId('64d79533cad2c4d67f291f87'), 'India': 'statue of unity', 'America': 'statue of liberty', 'Paris': 'Elffiel tower'}
{'_id': ObjectId('64d79535cad2c4d67f291f88'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64d79535cad2c4d67f291f89'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d79535cad2c4d67f291f8a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64d79535cad2c4d67f291f8b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d79535cad2c4d67f291f8c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d79535cad2c4d67f291f8d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d79535cad2c4d67f291f8e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64d79535cad2c4d67f291f8f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d79535cad2c4d67f291f90'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d79535cad2c4d67f291f91'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64d79535cad2c4d67f291f92'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64d79535cad2c4d67f291f93'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d7aef6cad2c4d67f291f99'), 'India': 'statue of unity', 'America': 'statue of liberty', 'Paris': 'Elffiel tower'}
{'_id': 3, 'name': 'Charlie', 'age': 20}
{'_id': ObjectId('64d797d2cad2c4d67f291f95'), 'name': 'Charlie', 'age': 23, 'city': 'Paris'}
{'_id': 1, 'name': 'Alice', 'age': 23}
{'_id': ObjectId('64d7aef8cad2c4d67f291f9b'), 'name': 'Charlie', 'age': 23, 'city': 'Paris'}
{'_id': ObjectId('64d797d2cad2c4d67f291f96'), 'name': 'David', 'age': 24, 'city': 'Tokyo'}
{'_id': ObjectId('64d7aef8cad2c4d67f291f9c'), 'name': 'David', 'age': 24, 'city': 'Tokyo'}
{'_id': ObjectId('64d797d2cad2c4d67f291f94'), 'name': 'Bob', 'age': 25, 'city': 'London'}
{'_id': 2, 'name': 'Bob', 'age': 25}
{'_id': ObjectId('64d7aef8cad2c4d67f291f9a'), 'name': 'Bob', 'age': 25, 'city': 'London'}

The sort method is like organizing a list from lower order to upper order or vice versa. It helps to arrange a item like number or words from A to Z or from Z to A.

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one() is used when we delete only a single data from the database.Remaining data will keep as it is .We use it when we want to remove just one wpecific thing from collection

delete_many() is used when you have to delete multiple data . This is like a removing a multiple data having  a same name of "joy" which is repeating a many times or we should remove the "joy" name in the entire database

drop() is used when we delete the entire data along with coloumn or to remove a entire column permanently For eg : student_id we should delete this ,so along with them the student_name is also deleted

so overall above three schema are used to maintain the data in organize way.It also help to maintain the data integrity . And to remove the data which is not required time to time in a database